body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

#scelta, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Stile per la griglia del gioco (tabella) */
#tabella {
    margin-top: 20px;
    display: grid;
}

/* Stile per i bottoni (le carte) */
.card {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 8px;
    background-color: black; /* Colore iniziale (coperto) */
    background-size: cover;      /* Assicura che l'immagine copra il bottone */
    background-position: center;
}

/* Stili per i colori che le carte possono assumere */
.immagine0 {
     background-image: url("../immagini/alce.webp"); /* Alce*/
    } 
.immagine1 { background-image: url("../immagini/asino.webp") } /* Asino */
.immagine2 { background-image: url("../immagini/cane.webp"); } /* Cane */
.immagine3 { background-image: url("../immagini/cavallo.webp"); } /* Cavallo */
.immagine4 { background-image: url("../immagini/foca.webp");} /* Foca */
.immagine5 { background-image: url("../immagini/gatto.webp"); } /* Gatto */
.immagine6 { background-image: url("../immagini/mucca.webp"); } /* Mucca */
.immagine7 { background-image: url("../immagini/orso.webp"); } /* Orso polare */
.immagine8 { background-image: url("../immagini/pesce.webp"); } /*Pesce rosso*/
.immagine9 { background-image: url("../immagini/volpe.webp"); } /*Volpe artica*/